* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root 
{
    --primary: rgb(23, 46, 40);
    --segundary: rgb(232, 31, 31);
}

body {
    margin: 0%;
    padding: 0%;
}

header {
    background-color: var(--primary);
    max-width: 100%;
    height: 10vh;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;



}

header nav ul {
    list-style: none;
    display: flex;
}

.logo span {
    color:var(--segundary);
    font-size: 20px;
}

header nav ul li a,
header nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
    font-size: 18px;
}

header nav ul li a {
    border-bottom: 2px solid wheat;
}

header nav ul li a:hover {
    color: #dddbdb;
    border-bottom: 2px solid var(--segundary);
}

.nav-button {
    display: flex;

}

.nav-button button {
    height: 40px;
    width: 100px;
    margin-left: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: var(--segundary);
    transition: 0.5s;
    opacity: 0.9;
}

.nav-button button:hover {
    background-color: rgba(92, 29, 13, 0.5);
}

/**  Home **/

.home {
    max-width: 100%;
    background-image: linear-gradient(180deg, var(--segundary), var(--primary));
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;

}

.home img {
    background-size: cover;
    border-radius: 100%;
}

.home-elements {
    color: #fff;

}

.home-elements h1 {
    font-size: 80px;
}

.home-elements h2 {
    font-size: 35px;
}

.home-elements p {
    margin-top: 15px;
    font-size: 20px;
    width: 50%;
}

.btn-home{
    text-decoration: none;

}

.btn-home button
{
    margin-top: 25px;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
}
.btn-home button:hover
{
    background-color: rgb(200, 197, 197);
    font-weight: bold;
}


#sobre
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, white, var(--primary));
    height: 100vh;
    width: 100%;

}
#sobre h1{
    font-size: 55px;
}
.sobre-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}
.formacao{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    border: 1px solid transparent;
    box-shadow: 10px 5px 10px black;
    width: 400px;
    margin: 15px;
    height: 20vh;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    flex-wrap: wrap;
}
.card:hover
{
    background-color: #c1bdbd;
}


#Tecnologia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, white, grey);
    height: 100vh;
    width: 100%;
}
#Tecnologia h1 {
    font-size: 65px;
}

.tecnologia-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tecnologia-elements > i {
    font-size: 40px;
    margin: 25px;
}

footer
{
    background-color: var(--primary);
    max-width: 100%;
    height: 10vh;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 25px;

}

footer ul li {
    color: #fff;
    font-size: 25px;
}
@media screen and (max-width:700px) {

    header {
        height: 20vh;
    }

    header nav {
        flex-direction: column;
        padding: 0;
    }

    header nav ul li a,
    header nav a {
        margin: 15px;
    }

    .nav-button {
        padding: 15px;
    }

    .logo,
    .logo span {
        font-size: 35px;
    }

    .home {
        
        flex-direction: column-reverse;
        padding: 0px;
        padding-top: 5em;
        text-align: center;
    }

    .home-elements h1 {
        font-size: 50px;
    }

    .home-elements h2 {
        font-size: 25px;
    }

    .home-elements p {

        font-size: 18px;
        width: 100%;
        padding: 25px;

    }

    .home img {
        width: 300px;
    }


}